/*
 Inspired: 
 - https://gist.github.com/JoeyBurzynski/617fb6201335779f8424ad9528b72c41
 - https://t.mkws.sh/
 - https: //github.com/susam/10kbclub/blob/main/src/template.html
 - https: //github.com/tdewolff/minify/tree/master/cmd/minify
*/
img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: Verdana,sans-serif;
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    background-color: #1d1f27;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #c9d1d9;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: monospace;
    padding: 2px 5px;
    color: #f8f8f2;
    background-color: #282a36
}

h1,
h2 {
    margin: 1.25em 0 0.5em 0;
    line-height: 1.2
}
h4 {
    margin-bottom: 8px;
}

a {
    color: #8cc2dd
}

footer {
    margin: 1.5em 0;
    text-align: center;
}