/*
 Inspired: 
 - https://gist.github.com/JoeyBurzynski/617fb6201335779f8424ad9528b72c41
 - https://t.mkws.sh/
 - https: //github.com/susam/10kbclub/blob/main/src/template.html
 - https: //github.com/tdewolff/minify/tree/master/cmd/minify
*/
img {
    max-width: 100%;
    height: auto
}

body {
    background-color: #fcfaf5;
    font: sans-serif;
    max-width: 70ch;
    padding: 0 1em;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 1.25em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

code {
    font-family: monospace;
}

h1,
h2 {
    margin: 1.25em 0 0.5em 0;
    line-height: 1.2
}

footer {
    margin: 1.5em 0;
    text-align: center;
}